<ion-view style="" title="CSC Social radio">
    <ion-content class="has-header" overflow-scroll="false" padding="true" style="background: url(img/wEivrAllTVqgYRDj6Tq2_social1.jpg) no-repeat center;">
        <form style="" class="list">
            <ion-list style=""></ion-list>
            <div style="width: 283px; height: 54px;" class="spacer"></div>
            <div style="width: 283px; height: 350px;" class="spacer"></div>
        </form>
        <a class="button button-positive button-large button-block icon-left ion-social-facebook" style="font-weight:bolder;color:#E7E7F5;"  target="_self" id="cSCSocialRadio-button1"  ng-click="FBlogin();">Log in with facebook</a>
        
    </ion-content>
</ion-view>