<ion-view style="" title="Let's watch tweets">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/rCuRFSPhRhaojezOAAhd_watch.jpg) no-repeat center;">
        <button class="button button-positive  button-block" id="letSWatchTweets-button5" ng-click= "getList();">Refresh</button>
        <div id="wrapper">
				
				<table>
					<thead>
						<tr>
							<th><h1></h1></th>
						</tr>
					</thead>
					<tbody id="list">
					</tbody>
				</table>			
				
			</div>
        <!-- <a class="button button-positive button-large button-block icon-left ion-social-facebook" style="font-weight:bolder;color:#E7E7F5;" id="cSCSocialRadio-button1" ui-sref="menu.welcome">Log in wih facebook</a> -->
    </ion-content>
</ion-view>