<ion-view style="" title="Logout">
    <ion-content class="has-header" overflow-scroll="true" padding="true" style="background: url(img/enl8Wy14Tw20o6J1wNYF_seeyou.jpg) no-repeat center;"></ion-content>
</ion-view>