<style>
a:focus, a:hover {
    color: white!important;
    text-decoration: none!important;
}
</style>

<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-calm">
            <div class="title" style="font-weight:bolder">Menu</div>
        </ion-header-bar>
        <!-- <ion-content padding="false" class="side-menu-left has-header"> -->
        <ion-content padding="false" class="custom">
            <ion-list style="font-weight:bolder">
                <ion-item style="" menu-close="" ui-sref="menu.welcome">Home</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.playLiveTweets">Play live tweets</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.playRecentTweets">Play recent tweets</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.playlist">Let's watch tweets</ion-item>
                <ion-item style="" menu-close="" ui-sref="menu.logout">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
