<ion-view style="" title="You are Listening to Live Tweets">
    <ion-content class="has-header" overflow-scroll="false" padding="true" style="background: url(img/LiveTweets.jpg) no-repeat center;">
<iframe style="width:100%" scrolling="no" src="http://csc-sr-prod.mybluemix.net/playtweets-live"/>
</ion-content>
</ion-view>

