<ion-view style="" title="You are Listening to Recent Tweets">
    <ion-content class="has-header" overflow-scroll="false" padding="true" style="background: url(img/RecentTweets.jpg) no-repeat center;">
    <iframe style="width:100%" scrolling="no" src="http://csc-sr-uat.mybluemix.net/playtweets-uat"/>
    </ion-content>
</ion-view>