<ion-view style="" title="Welcome to CSC Tech Tweets">


    <ion-content class="has-header" overflow-scroll="true" padding="false" style="background: url(img/CSCTech.jpg) no-repeat center;">
        <form style="" class="list">
            
        </form>
    </ion-content>
</ion-view>