html, body {
    height: 100%;
}
.custom {
  background-color: #3f4041 !important;  }

.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   
  color: white;   
}

.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: #ffffff;  
}

.customhead
{
       background-color: #0000ff!important;
       font-weight:bolder;
       font-color:White

}
.customhead .div{ color: white; }
